# Emacs
*~
\#*\#
.\#*
*.elc
*.swp
*.lock
*autosave*
ltximg/

# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Output
*.out
*.log
*.aux
*.toc
*.pdf
*.png
*.npy
*.npz

# Testing
.pytest_cache/
.cache/
*.coverage
coverage.xml

# Editors
.vscode/
.idea/

# OS
.DS_Store
